  --story-title-1: "TITLE2";
  --story-text-1: "COMING SOON1";
  --story-text-1-2: "COMING SOON2";
  --story-image-1: url('assets/history/story-image-1.png');
  --story-caption-1: "Тут будет картинка потом";
  --story-quote: "QUOTE";
  --story-title-2: "TITLE2";
  --story-text-2: "COMING SOON3";
  --story-text-2-2: "COMING SOON4";
  --story-image-2: url("assets/history/story-image-2.png");
  --story-caption-2: "После Вознесения";
