@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
    /* Typography and Colors */
    --font-accent:"Audiowide", sans-serif;
    --character-name-color: #e9e1d2;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #1f130b;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #493423;
    
    /* Background Colors */
    --background-main: #2e2219;
    --background-primary: #a98864;
    --background-secondary: #596344;
    --background-tertiary: #798461;
    --color-accent: #9aa45a;
    
    /* Crystal Colors */
    --color-palette-1: #2e2219;
    --color-palette-2: #a98864;
    --color-palette-3: #596344;
    --color-palette-4: #798461;   
    --color-palette-5: #9aa45a;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #cecece;
    --playlist-head-text-color-primary: #2b1d1d;
    --playlist-head-text-color-secondary: #653e3e;
    --playlist-head-text-color-tertiary: #c08484;
} 
