@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cutive+Mono&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap');


:root {
    /* Typography and Colors */
    --font-accent: "Cinzel", serif;
    --character-name-color: #f5f1e8;
    --head-font-size: 150px;

    /* Primary Text */
    --font-primary: "Cormorant Garamond", serif;
    --text-color-primary: #292724;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #66615a;

    /* Background Colors */
    --background-main: #2d3440;
    --background-primary: #e2e8ec;
    --background-secondary: #9b611c;
    --background-tertiary: #d99a52;
    --color-accent: #e39a22;    
        
    /* Crystal Colors */
    --color-palette-1: #2d3440;
    --color-palette-2: #e2e8ec;
    --color-palette-3: #9b611c;
    --color-palette-4: #d99a52;   
    --color-palette-5: #e39a22;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #cecece;
    --playlist-head-text-color-primary: #2b1d1d;
    --playlist-head-text-color-secondary: #653e3e;
    --playlist-head-text-color-tertiary: #c08484;
} 
