:root {

  /* ===================================== PAGE ===================================== */

  --page-title: "Interlayer - lore Aspect";
  --upper-title: "Interlayer";

  --page-background: url("assets/background.png");


  /* ===================================== ASPECT INFO ===================================== */

  --aspect-type: "Category";

  --aspect-name: "Interlayer";

  --aspect-description: "The Interlayer is a planetary-scale infrastructure constructed by the Architects long before the Ascension. While it is less prominent than structures such as the Firstborn Sun, it remains one of the largest surviving systems created during their era. Built to maintain orbital stability and preserve the Web connecting inhabited worlds, the Interlayer appears as a vast translucent veil surrounding planets and extending throughout interplanetary space.";


  /* ===================================== MAIN IMAGE ===================================== */

  --main-image: url("assets/aspect/main-image.png");

  --main-image-caption: "Main image description.";


  /* ===================================== HISTORY ===================================== */

  --section-1-title: "Function";

  --section-1-text-1: "The Interlayer has remained in operation since the time of the Architects. It regulates orbital stability, keeping celestial bodies synchronized and connected through the Web. Without it, planets would gradually drift from their established paths, eventually destabilizing the network between worlds. For Artificial civilization, the Interlayer became an ordinary part of reality, much like gravity or daylight.";

  --section-1-text-2: "Its influence is not distributed equally. Regions where the Interlayer remains weak are considered suitable for long-term habitation. Areas of high density become increasingly hazardous, gradually overwhelming Artificial systems and causing irreversible structural failure. Organic ecosystems are affected in a similar way, as prolonged exposure leaves landscapes dry, barren, and incapable of sustaining complex life. Despite the disappearance of its creators, the Interlayer continues operating without interruption.";
}
