:root {

  /* ===================================== PAGE ===================================== */

  --page-title: "Interlayer - lore Aspect";
  --upper-title: "Interlayer";

  --page-background: url("assets/background.png");


  /* ===================================== ASPECT INFO ===================================== */

  --aspect-type: "Lore aspect";

  --aspect-name: "Межслой";

  --aspect-description: "Межслой — Это одна из первоначальных функция Перворожденного Солнца и других созвездий, соединяющей обитаемые планеты с целью удержания их. Невидимый для большинства форм восприятия, он существует как огромная полупрозрачная завеса вокруг планет и в межпланетном пространстве. Иногда его можно увидеть с поверхности, в темном месте, обычно он выглядит как слабое свечение";


  /* ===================================== MAIN IMAGE ===================================== */

  --main-image: url("assets/aspect/main-image.png");

  --main-image-caption: "Визуальное представление Межслоя.";


  /* ===================================== HISTORY ===================================== */

  --section-1-title: "Функция";

  --section-1-text-1: "Межслой продолжает работать с начала появления Перворожденного Солнца. Он регулирует орбитальную стабильность, удерживая небесные тела в согласованном движении и связывая их через паутино подобные соединения. Без него планеты постепенно сошли бы с установленных траекторий. Межслой со временем стал обычной частью реальности, такой же привычной, как гравитация или дневной свет.";

  --section-1-text-2: "Его влияние распределено неравномерно. Области, где Межслой остается слабым, считаются пригодными для долговременного обитания. Зоны высокой плотности становятся все опаснее: они постепенно перегружают системы и вызывают необратимые структурные повреждения, обычно земля в таких местах сухая и ломкая. Органические экосистемы страдают похожим образом, поскольку длительное воздействие оставляет ландшафты сухими, бесплодными и неспособными поддерживать сложную жизнь.";

}