@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400..900&display=swap');

:root {
    /* Typography and Colors */
    --font-accent: "Anton", sans-serif;
    --character-name-color: #eef8ff;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #e5f1f7;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #a7bcc8;
    
    /* Background Colors */
    --background-main: #101a22;
    --background-primary: #1e2b36;
    --background-secondary: #38515f;
    --background-tertiary: #6f8f9e;
    --color-accent: #b7d9e6;
    
    /* Crystal Colors */
    --color-palette-1: #101a22;
    --color-palette-2: #1e2b36;
    --color-palette-3: #38515f;
    --color-palette-4: #6f8f9e;   
    --color-palette-5: #b7d9e6;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #cecece;
    --playlist-head-text-color-primary: #2b1d1d;
    --playlist-head-text-color-secondary: #653e3e;
    --playlist-head-text-color-tertiary: #c08484;
} 
