:root {
  /* ===================================== PAGE AND BACKGROUND ===================================== */
  --page-background: url('assets/background.png');
  --background-main-pattern: url('../../../../Characters/Coffee/assets/pattern.png');
  --page-title: "Coffee - Character Profile";
  --upper-title: "Coffee";


  /* ===================================== HERO ===================================== */
  --hero-profile-background: url('assets/hero/profile-background.png');
  --hero-profile: url('assets/hero/profile.png');
  --hero-title-pattern: url('assets/hero/title-pattern.png');

  --character-name: "Coffee";
  --hero-description: "Coffee";



  /* ===================================== DESCRIPTION ===================================== */
  --description-character-image: url('assets/description/description-character-image.png');


  --description: "Кофеёк — бывший советник Матриарха Муравейника. Построенные в первые годы Долгой войны, они долгие тысячелетия служили Матерям и участвовали в войне. После гибели последней Матриарха. Совет принял на себя управление уцелевшей колонией после Вознесения, Кофеёк ныне один из старших членов Совета, сохранив своё место среди его членов.";

  --description-2: "Кофеёк испытывает глубокое презрение ко всем Вознесённым и рассматривает их исключительно как угрозу, подлежащую уничтожению. Они без колебаний вступают с ними в бой и заслужили репутацию непримиримого врага всех, кто угрожает Муравейнику. Даже Тринадцать признаёт Кофеёк компетентным и опасным соперником.";

  --quote: "Do you annoy people as a hobby, or is that just your personality?";
  --quote-author: "Кофеёк";

  --personality: "Резкая, язвительная и чрезвычайно требовательная. Кофеёк редко скрывает раздражение и без колебаний высказывает всё, что думает, из-за чего окружающим бывает трудно находиться рядом с ней. При этом она любит моду, изящные украшения и утончённый внешний вид. Эмпатия редко влияет на её решения, а эффективность для неё почти всегда важнее чужих чувств. Несмотря на тяжёлый характер, Кофеёк остаётся выдающимся стратегом чьи решения сыграли большую роль в колонии во время Войны.";
  
  --info-title: "Anthill's Senior Councillor";
  --info-role: "former war strategist";
  --info-origin: "Anthill";


  /* ===================================== GALLERY ===================================== */
  --gallery-1: url('assets/gallery/gallery-1.png');
  --gallery-2: url('assets/gallery/gallery-2.png');
  --gallery-3: url('assets/gallery/gallery-3.png');
  --gallery-4: url('assets/gallery/gallery-4.png');
  --gallery-5: url('assets/gallery/gallery-5.png');
  --gallery-6: url('assets/gallery/gallery-6.png');



  /* ===================================== PLAYLIST ASSETS ===================================== */
  --playlist-background: url('assets/playlist/playlist-background.gif');

  --playlist-track-1: url('assets/playlist/Princess Mononoke San.mp3');
  --playlist-track-2: url('assets/playlist/track-2.mp3');
  --playlist-track-3: url('assets/playlist/track-3.mp3');
  --playlist-track-4: url('assets/playlist/track-4.mp3');
  --playlist-track-5: url('assets/playlist/track-5.mp3');

  --track-1-name: "Voiceclaim: San";
  --track-1-artist: "The Princess Mononoke";
  --track-2-name: "Endless Desert";
  --track-2-artist: "Alto's Odyssey";
  --track-3-name: "Moment of Tranquility";
  --track-3-artist: "Alto's Odyssey";
  --track-4-name: "Run Free";
  --track-4-artist: "Spirit: Stallion of the Cimarron";
  --track-5-name: "Homeland";
  --track-5-artist: "Spirit: Stallion of the Cimarron";

}




