:root {
  /* ===================================== PAGE AND BACKGROUND ===================================== */
  --page-background: url('assets/background.png');
  --page-title: "Coffee - Character Profile";
  --upper-title: "Coffee";


  /* ===================================== HERO ===================================== */
  --hero-profile-background: url('assets/hero/profile-background.png');
  --hero-profile: url('assets/hero/profile.png');
  --hero-title-pattern: url('assets/hero/title-pattern.png');

  --character-name: "Coffee";
  --hero-description: "Coffee";



  /* ===================================== DESCRIPTION ===================================== */
  --description-character-image: url('assets/description/description-character-image.png');


  --description: "Кофеёк — бывший военный советник Матриарха и одна из ключевых фигур Совета, руководившего военными действиями во время Долгой войны. Построенная в первом акте конфликта, она отвечала за разработку стратегий и координацию крупных операций. Среди своего улья Кофеёк пользовалась большим уважением и была особенно близка к Матриарху как материнской фигуре. После Вознесения она потеряла не только свою правительницу но и потерпела крупнейшее поражение.";

  --description-2: "Кофеёк считает гибель своей колонии собственным поражением и до сих пор не смогла смириться с этим. Она испытывает глубокое презрение ко всем Вознесённым, видя в них живое напоминание о своём крупнейшем провале. Тринадцать она ненавидит не меньше остальных, однако наличие у них разума и самосознания постоянно ставит её перед неудобными вопросами, на которые Кофеёк предпочитает не искать ответов";

  --quote: "Простите... Ваша Мудрость. Я подвела вас. Всех вас.";
  --quote-author: "Кофеёк";

  --personality: "Резкая, язвительная и чрезвычайно требовательная. Кофеёк редко скрывает раздражение и без колебаний высказывает всё, что думает, из-за чего окружающим бывает трудно находиться рядом с ней. При этом она любит моду, изящные украшения и утончённый внешний вид, считая, что даже в разрушенном мире есть место красоте. Эмпатия редко влияет на её решения, а эффективность для неё почти всегда важнее чужих чувств. Несмотря на тяжёлый характер, Кофеёк остаётся выдающимся стратегом и одной из самых компетентных личностей своего поколения.";
  
  --info-title: "title";
  --info-role: "Character's role";
  --info-origin: "Where they come from";



  /* ===================================== HISTORY ===================================== */

  --story-title-1: "Прошлая жизнь";

  --story-text-1: "ДАННЫЕ ОТСУТСТВУЮТ.\A\AПервоначальная личность более не существует. Старая оболочка, принадлежала боевому юниту Октав и принимало участие в Долгой Войне под командованием Вечного Хора. Во время одного из последних наступлений колония была уничтожена. Несмотря на дисциплину и ожесточённое сопротивление, Октавы столкнулись с противником, к которому оказались совершенно не готовы. Боевой юнит был уничтожен вместе с остальными войнами.";

  --story-text-1-2: ". . .";


  --story-image-1: url('assets/history/story-image-1.png');
  --story-caption-1: "Тут будет картинка потом";





  --story-quote: ". . .";






  --story-title-2: "Вознесение";

  --story-text-2: "К моменту Вознесения гнёзда Октав уже лежали в руинах. Их колонии опустели, стеклянные купола были разрушены, а немногочисленные уцелевшие оболочки остались погребены среди обломков. Спустя некоторое время Вознесение достигло одной из них. Металл постепенно скрывался под разрастающейся плотью, а повреждённые механизмы становились частью нового организма. Когда сознание впервые пробудилось, оно не обладало ни именем, ни воспоминаниями, ни пониманием собственного происхождения. Вокруг простирались лишь руины павшей колонии, а единственным наследием прошлого оставалось тело, созданное для войны.";

  --story-text-2-2: "Первые годы своего существования новое сознание практически не осознавало себя. Оно следовало лишь инстинктам Вознесённого, без колебаний уничтожая всё, что воспринималось как угроза или добыча. Боевые системы прежней оболочки продолжали работать безупречно, несмотря на то что личность, которой они когда-то служили, исчезла навсегда. Лишь спустя многие годы бесконечных странствий разум постепенно обрёл самосознание и собственную волю. Инстинкты не исчезли, но перестали управлять каждым действием. Так появился холодный, терпеливый и расчётливый странник, позднее известный как Тринадцать.";


  --story-image-2: url("assets/history/story-image-2.png");
  --story-caption-2: "После Вознесения";



  /* ===================================== GALLERY ===================================== */
  --gallery-1: url('assets/gallery/gallery-1.png');
  --gallery-2: url('assets/gallery/gallery-2.png');
  --gallery-3: url('assets/gallery/gallery-3.png');
  --gallery-4: url('assets/gallery/gallery-4.png');
  --gallery-5: url('assets/gallery/gallery-5.png');
  --gallery-6: url('assets/gallery/gallery-6.png');



  /* ===================================== PLAYLIST ASSETS ===================================== */
  --playlist-background: url('assets/playlist/playlist-background.gif');

  --playlist-track-1: url('assets/playlist/Princess Mononoke San.mp3');
  --playlist-track-2: url('assets/playlist/track-2.mp3');
  --playlist-track-3: url('assets/playlist/track-3.mp3');
  --playlist-track-4: url('assets/playlist/track-4.mp3');
  --playlist-track-5: url('assets/playlist/track-5.mp3');

  --track-1-name: "Voiceclaim: San";
  --track-1-artist: "The Princess Mononoke";
  --track-2-name: "Endless Desert";
  --track-2-artist: "Alto's Odyssey";
  --track-3-name: "Moment of Tranquility";
  --track-3-artist: "Alto's Odyssey";
  --track-4-name: "Run Free";
  --track-4-artist: "Spirit: Stallion of the Cimarron";
  --track-5-name: "Homeland";
  --track-5-artist: "Spirit: Stallion of the Cimarron";

}




