@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    /* Typography and Colors */
    --font-accent: "Black Ops One", system-ui;
    --character-name-color: #edf4f7;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #d9e1e6;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #9daab3;

    /* Background Colors */
    --background-main: #141821;
    --background-primary: #2d323e;
    --background-secondary: #493430;
    --background-tertiary: #625052;
    --color-accent: #3c5195;
    
    /* Crystal Colors */
    --color-palette-1: #4a200e;
    --color-palette-2: #61331f;
    --color-palette-3: #7c533c;
    --color-palette-4: #5d688d;   
    --color-palette-5: #1a2c4d;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #cecece;
    --playlist-head-text-color-primary: #2b1d1d;
    --playlist-head-text-color-secondary: #653e3e;
    --playlist-head-text-color-tertiary: #c08484;
} 
