@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cutive+Mono&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap');


:root {
    /* Typography and Colors */
    --font-accent: "Cinzel", serif;
    --character-name-color: #f5f1e8;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Cormorant Garamond", serif;
    --text-color-primary: #292724;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #66615a;

    /* Background Colors */
    --background-main: #303942;
    --background-primary: #e1e5e3;
    --background-secondary: #875746;
    --background-tertiary: #c58262;
    --color-accent: #b96848;
        
    /* Crystal Colors */
    --color-palette-1: #303942;
    --color-palette-2: #e1e5e3;
    --color-palette-3: #875746;
    --color-palette-4: #c58262;   
    --color-palette-5: #b96848;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #8c9395;
    --playlist-head-text-color-primary: #f0f0f0;
    --playlist-head-text-color-secondary: #8c9395;
    --playlist-head-text-color-tertiary: #cecece;
} 
