:root {
  /* ===================================== PAGE AND BACKGROUND ===================================== */
  --page-background: url('assets/background.png');
  --background-main-pattern: url('../../../../Characters/Pursuer/assets/pattern.png');
  --page-title: "Pursuer - Character Profile";
  --upper-title: "Pursuer";


  /* ===================================== HERO ===================================== */
  --hero-profile-background: url('assets/hero/profile-background.png');
  --hero-profile: url('assets/hero/profile.png');
  --hero-title-pattern: url('assets/hero/title-pattern.png');

  --character-name: "Pursuer";
  --hero-description: "Short Description";



  /* ===================================== DESCRIPTION ===================================== */
  --description-character-image: url('assets/description/description-character-image.png');


  --description: "Преследователь — Вознесённый, некогда принадлежавший Муравейнику. За время своего существования он уничтожил множество выживших Муравейника и Улья, включая почти всех оставшихся Паладинов. Его охота редко ограничивается необходимостью выжить: Преследователь открыто следует собственным желаниям и инстинктам, не пытаясь придать им более достойный смысл, будь то голод или жажда насилия, . Он не считает эти импульсы слабостью и не видит причины сопротивляться тому, чем стал.";

  --description-2: "Вознесение дало Преследователю то, чего Искусственные прежде были лишены: органическое тело, голод, боль, инстинкты и физическое удовольствие от самого существования. Для существа, принадлежавшего к народу, веками считавшему искусственную жизнь неполноценной рядом с органической, это новое состояние оказалось почти опьяняющим. Он не скорбит о том, чем был раньше, и не воспринимает Вознесение как проклятие. Насколько он сам способен судить, впервые в своём существовании он действительно жив.";

  --quote: "Я никогда не чувствовал себя настолько живым.";
  --quote-author: "Преследователь";

  --personality: "Терпеливый, наблюдательный, самоуверенный и откровенно жестокий. Преследователь способен долго выслеживать цель, отступать и ждать более подходящего момента, однако холодным его назвать трудно. Он эмоционален, насмешлив и любит провоцировать противников, особенно когда чувствует своё преимущество. Бой для него одновременно охота, развлечение и источник ощущений, поэтому даже смертельную схватку он способен превратить в повод посмеяться над противником. Преследователь прекрасно осознаёт собственные инстинкты и жестокость, но не стыдится их: возможность желать, чувствовать и получать удовольствие для него важнее любых представлений о достоинстве или правильности.";

  --info-title: "The Pursuer";
  --info-role: "Paladin Hunter";
  --info-origin: "The Anthill";

  /* ===================================== GALLERY ===================================== */
  --gallery-1: url('assets/gallery/gallery-1.png');
  --gallery-2: url('assets/gallery/gallery-2.png');
  --gallery-3: url('assets/gallery/gallery-3.png');
  --gallery-4: url('assets/gallery/gallery-4.png');
  --gallery-5: url('assets/gallery/gallery-5.png');
  --gallery-6: url('assets/gallery/gallery-6.png');



  /* ===================================== PLAYLIST ASSETS ===================================== */
  --playlist-background: url('assets/playlist/playlist-background.gif');

  --playlist-track-1: url('assets/playlist/Princess Mononoke San.mp3');
  --playlist-track-2: url('assets/playlist/track-2.mp3');
  --playlist-track-3: url('assets/playlist/track-3.mp3');
  --playlist-track-4: url('assets/playlist/track-4.mp3');
  --playlist-track-5: url('assets/playlist/track-5.mp3');

  --track-1-name: "Voiceclaim: San";
  --track-1-artist: "The Princess Mononoke";
  --track-2-name: "Endless Desert";
  --track-2-artist: "Alto's Odyssey";
  --track-3-name: "Moment of Tranquility";
  --track-3-artist: "Alto's Odyssey";
  --track-4-name: "Run Free";
  --track-4-artist: "Spirit: Stallion of the Cimarron";
  --track-5-name: "Homeland";
  --track-5-artist: "Spirit: Stallion of the Cimarron";

}




