/* ========================= */
/* HEADER */
/* ========================= */

.aspect-header {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 40px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.aspect-info {
    min-width: 0;
}

.aspect-tag {
    display: inline-block;

    margin-bottom: 14px;

    color: var(--color-accent);

    font-size: .8rem;
    font-family: var(--font-secondary);

    text-transform: uppercase;
    letter-spacing: 3px;
}

.aspect-info h1 {
    margin: 0 0 20px;

    font-family: var(--font-accent);

    font-size: clamp(2.5rem, 5vw, 4.5rem);

    line-height: .95;
    text-transform: uppercase;
    letter-spacing: 3px;

    color: var(--character-name-color);
}

.aspect-description {
    margin-bottom: 30px;

    color: var(--text-color-secondary);

    font-size: 1rem;
    line-height: 1.8;
    font-family: var(--font-secondary);
}

.aspect-image-panel {
    align-self: start;
}

.aspect-image {
    margin: 0;

    border: 1px solid var(--background-tertiary);

    background: var(--background-tertiary);
}

.aspect-image img {
    width: 100%;
    display: block;

    aspect-ratio: 4 / 5;

    object-fit: cover;
}

.aspect-image figcaption {
    padding: 10px;

    text-align: center;

    font-size: 12px;

    color: var(--text-color-secondary);
}
