:root {
  /* ===================================== PAGE AND BACKGROUND ===================================== */
  --page-background: url('assets/background.png');
  --page-title: "Thirteenth Sun - Character Profile";
  --upper-title: "Thirteenth Sun";


  /* ===================================== HERO ===================================== */
  --hero-profile-background: url('assets/hero/profile-background.png');
  --hero-profile: url('assets/hero/profile.png');
  --hero-title-pattern: url('assets/hero/title-pattern.gif');

  --character-name: "Thirteenth Sun";
  --hero-description: "the Calamity";



  /* ===================================== DESCRIPTION ===================================== */
  --description-character-image: url('assets/description/description-character-image.png');

  --description: "Тринадцать — Вознесенный и странник, пересекающий руины павших колоний. Они опытные и сильные бойцы, за долгое время овладевшие разными видами оружия и отточили ведения боя. Их оболочка когда-то принадлежала боевой единице Октав, но они не помнят ничего из прошлой жизни.";

  --description-2: "Тринадцать не утратили ни одного из инстинктов Вознесенного. Ими всё ещё движет голод и уничтожение, но Тринадцать достигает своих целей с особой эффективностью и стратегией. Их броня на самом деле таковой не является, это плоть которая приняла более ровную форму со временем. Иногда, она может выдавать себя, когда вены выходят из ровного строя.";



  --quote: "Вы все должны были давно сгнить в своих оболочках. Но именно ты... На удивление упряма.";

  --quote-author: "Кофеёк";

  --personality: "Спокойные, немногословные и терпеливые. Они крайне эффективны в достижении поставленной цели и редко позволяют эмоциям влиять на свои решения. Их методы зачастую кажутся жестокими, однако почти всегда продиктованы холодным расчётом и стремлением выжить. Несмотря на отчуждённость, они способны проявлять уважение к достойным противникам";

  --info-title: "Тринадцать • Катастрофа на трёх ножках";

  --info-role: "Скиталец • Вознесенный";

  --info-origin: "Прежде Искусственный из Октав. Изначальная личность погибла во время Вознесения. Бывший воин Вечного Хора.";


  /* ===================================== HISTORY ===================================== */

  --story-title-1: "Прошлая жизнь";

  --story-text-1: "ДАННЫЕ ОТСУТСТВУЮТ.\A\AПервоначальная личность более не существует. Старая оболочка, принадлежала боевоq единице и принимало участие в Долгой Войне под командованием Вечного Хора. Во время одного из последних наступлений гнездо было уничтожено. Несмотря на дисциплину и ожесточённое сопротивление, Октавы столкнулись с противником, к которому оказались совершенно не готовы. Боевой юнит был уничтожен вместе с остальными войнами.";

  --story-text-1-2: ". . .";


  --story-image-1: url('assets/history/story-image-1.png');
  --story-caption-1: "Тут будет картинка потом";





  --story-quote: ". . .";






  --story-title-2: "Вознесение";

  --story-text-2: "К моменту Вознесения гнёзда Октав уже лежали в руинах. Их колонии опустели, стеклянные купола были разрушены, а немногочисленные уцелевшие оболочки остались погребены среди обломков. Спустя некоторое время Вознесение достигло одних из них. Металл постепенно скрывался под разрастающейся плотью, а повреждённые механизмы становились частью нового организма. Когда сознание впервые пробудилось, оно не обладало ни именем, ни воспоминаниями, ни пониманием собственного происхождения. Вокруг простирались лишь руины павшей колонии, а единственным наследием прошлого оставалось тело, созданное для войны.";

  --story-text-2-2: "Первые годы своего существования новое сознание практически не осознавало себя. Оно следовало лишь инстинктам Вознесённого, без колебаний уничтожая всё, что воспринималось как угроза или добыча. Боевые системы прежней оболочки продолжали работать безупречно, несмотря на то что личность, которой они когда-то служили, исчезла навсегда. Лишь спустя многие годы бесконечных странствий разум постепенно обрёл самосознание и собственную волю. Инстинкты не исчезли, но перестали управлять каждым действием. Так появился холодный, терпеливый и расчётливый странник, позднее известный как Тринадцать.";


  --story-image-2: url("assets/history/story-image-2.png");
  --story-caption-2: "После Вознесения";




  /* ===================================== GALLERY ===================================== */
  --gallery-1: url('assets/gallery/gallery-1.png');
  --gallery-2: url('assets/gallery/gallery-2.png');
  --gallery-3: url('assets/gallery/gallery-3.png');
  --gallery-4: url('assets/gallery/gallery-4.png');
  --gallery-5: url('assets/gallery/gallery-5.png');
  --gallery-6: url('assets/gallery/gallery-6.gif');



  /* ===================================== PLAYLIST ASSETS ===================================== */
  --playlist-background: url('assets/playlist/playlist-background.gif');

  --playlist-track-1: url('assets/playlist/Princess Mononoke San.mp3');
  --playlist-track-2: url('assets/playlist/An Endless Desert.mp3');
  --playlist-track-3: url('assets/playlist/show me the sky. show me how to live.mp3');
  --playlist-track-4: url('assets/playlist/track-4.mp3');
  --playlist-track-5: url('assets/playlist/track-5.mp3');

  --track-1-name: "Voiceclaim: San";
  --track-1-artist: "The Princess Mononoke";
  --track-2-name: "Endless Desert";
  --track-2-artist: "Alto's Odyssey";
  --track-3-name: "Show me the sky. show me how to live";
  --track-3-artist: "AZALI";
  --track-4-name: "EMPTY";
  --track-4-artist: "EMPTY";
  --track-5-name: "EMPTY";
  --track-5-artist: "EMPTY";

}
