:root {
  /* ===================================== PAGE AND BACKGROUND ===================================== */
  --page-background: url('assets/background.png');
  --background-main-pattern: url('../../../../Characters/Thirteenth Sun/assets/pattern.png');
  --page-title: "Thirteenth Sun - Character Profile";
  --upper-title: "Thirteenth Sun";


  /* ===================================== HERO ===================================== */
  --hero-profile-background: url('assets/hero/profile-background.png');
  --hero-profile: url('assets/hero/profile.png');
  --hero-title-pattern: url('assets/hero/title-pattern.gif');

  --character-name: "Thirteenth Sun";
  --hero-description: "the Calamity";



  /* ===================================== DESCRIPTION ===================================== */
  --description-character-image: url('assets/description/description-character-image.png');

  --description: "Тринадцать — Вознесённый и странник, пересекающий руины павших колоний. За долгие годы странствий они освоили множество видов оружия и стали крайне опытным и опасным бойцом. Их оболочка когда-то принадлежала боевой единице под командованием Вечного Хора, однако после её смерти возникшее сознание не сохранило ни воспоминаний, ни личности прежнего владельца.";

  --description-2: "Несмотря на развитый разум, Тринадцать сохранили основные инстинкты Вознесённого. Ими по-прежнему движут голод и стремление уничтожать угрозы, однако теперь они действуют расчётливо, используя опыт, планирование и собственную стратегию. То, что выглядит как броня на их теле, на самом деле является плотью, которая со временем приняла более ровную и устойчивую форму. Иногда её органическая природа становится заметна, когда под поверхностью проступают сосуды и нарушают привычные очертания оболочки.";



  --quote: "Вы все должны были давно сгнить в своих оболочках. Но именно ты... На удивление упряма.";

  --quote-author: "Кофеёк";

  --personality: "Спокойные, немногословные и терпеливые. Они крайне эффективны в достижении поставленной цели и редко позволяют эмоциям влиять на свои решения. Их методы зачастую кажутся жестокими, однако почти всегда продиктованы холодным расчётом и стремлением выжить. Несмотря на отчуждённость, они способны проявлять уважение к достойным противникам";

  --info-title: "Тринадцать • Катастрофа на трёх ножках";

  --info-role: "Скиталец • Вознесенный";

  --info-origin: "Прежде Искусственный из Октав. Изначальная личность погибла во время Вознесения. Бывший воин Вечного Хора.";


  /* ===================================== GALLERY ===================================== */
  --gallery-1: url('assets/gallery/gallery-1.png');
  --gallery-2: url('assets/gallery/gallery-2.png');
  --gallery-3: url('assets/gallery/gallery-3.png');
  --gallery-4: url('assets/gallery/gallery-4.png');
  --gallery-5: url('assets/gallery/gallery-5.png');
  --gallery-6: url('assets/gallery/gallery-6.gif');



  /* ===================================== PLAYLIST ASSETS ===================================== */
  --playlist-background: url('assets/playlist/playlist-background.gif');

  --playlist-track-1: url('assets/playlist/Princess Mononoke San.mp3');
  --playlist-track-2: url('assets/playlist/An Endless Desert.mp3');
  --playlist-track-3: url('assets/playlist/show me the sky. show me how to live.mp3');
  --playlist-track-4: url('assets/playlist/track-4.mp3');
  --playlist-track-5: url('assets/playlist/track-5.mp3');

  --track-1-name: "Voiceclaim: San";
  --track-1-artist: "The Princess Mononoke";
  --track-2-name: "Endless Desert";
  --track-2-artist: "Alto's Odyssey";
  --track-3-name: "Show me the sky. show me how to live";
  --track-3-artist: "AZALI";
  --track-4-name: "EMPTY";
  --track-4-artist: "EMPTY";
  --track-5-name: "EMPTY";
  --track-5-artist: "EMPTY";

}
