@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


:root {
    /* Typography and Colors */
    --font-accent:"Limelight", sans-serif;
    --character-name-color: #f0f4ef;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #2a2c2c;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #626968;
    
    /* Background Colors */
    --background-main: #27323a;
    --background-primary: #dce6e3;
    --background-secondary: #6f8785;
    --background-tertiary: #a6b9b3;
    --color-accent: #b9c6a4;
    
    /* Crystal Colors */
    --color-palette-1: #27323a;
    --color-palette-2: #dce6e3;
    --color-palette-3: #6f8785;
    --color-palette-4: #a6b9b3;   
    --color-palette-5: #b9c6a4;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #8c9395;
    --playlist-head-text-color-primary: #f0f0f0;
    --playlist-head-text-color-secondary: #8c9395;
    --playlist-head-text-color-tertiary: #cecece;
} 
