@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
    /* Typography and Colors */
    --font-accent:"Audiowide", sans-serif;
    --character-name-color: #ece7ff;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #e8e2fb;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #aaa2ce;
    
    /* Background Colors */
    --background-main: #1b1b33;
    --background-primary: #292b4a;
    --background-secondary: #4b4a7d;
    --background-tertiary: #6f69a8;
    --color-accent: #9b92d6;
    
    /* Crystal Colors */
    --color-palette-1: #1b1b33;
    --color-palette-2: #292b4a;
    --color-palette-3: #4b4a7d;
    --color-palette-4: #6f69a8;   
    --color-palette-5: #9b92d6;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #cecece;
    --playlist-head-text-color-primary: #2b1d1d;
    --playlist-head-text-color-secondary: #653e3e;
    --playlist-head-text-color-tertiary: #c08484;
} 
