@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
    /* Typography and Colors */
    --font-accent:"Audiowide", sans-serif;
    --character-name-color: #f2e4d4;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #24110a;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #56311f;
    
    /* Background Colors */
    --background-main: #3a1d17;
    --background-primary: #b98363;
    --background-secondary: #714438;
    --background-tertiary: #9f5f4e;
    --color-accent: #c97143;
    
    /* Crystal Colors */
    --color-palette-1: #3a1d17;
    --color-palette-2: #b98363;
    --color-palette-3: #714438;
    --color-palette-4: #9f5f4e;   
    --color-palette-5: #c97143;

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #cecece;
    --playlist-head-text-color-primary: #2b1d1d;
    --playlist-head-text-color-secondary: #653e3e;
    --playlist-head-text-color-tertiary: #c08484;
} 
