@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cutive+Mono&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap');


:root {
    /* Typography and Colors */
    --font-accent: "Cinzel", serif;
    --character-name-color: #eee8dc;
    --head-font-size: 250px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #1c0e07;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #492c19;

    /* Background Colors */
    --background-main: #35231c;
    --background-primary: #b28c69;
    --background-secondary: #697053;
    --background-tertiary: #839169;
    --color-accent: #a8b250;

    /* Crystal Colors */
    --color-palette-1: #622e1e;
    --color-palette-2: #85492b;
    --color-palette-3: #efdbca;
    --color-palette-4: #d58e42;   
    --color-palette-5: rgb(238, 173, 102);

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #8c9395;
    --playlist-head-text-color-primary: #f0f0f0;
    --playlist-head-text-color-secondary: #8c9395;
    --playlist-head-text-color-tertiary: #cecece;
} 
