@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fascinate&family=Imperial+Script&family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Typography and Colors */
    --font-accent: "Fascinate", system-ui;
    --character-name-color: #eee8dc;
    --head-font-size: 250px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #e3dbd6;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #cbbbb2;

    /* Background Colors */
    /* Background Colors */
    --background-main: #221818;
    --background-primary: #473535;
    --background-secondary: #5a4242;
    --background-tertiary: #6b5550;
    --color-accent: #915a38;

    /* Crystal Colors */
    --color-palette-1: #622e1e;
    --color-palette-2: #85492b;
    --color-palette-3: #efdbca;
    --color-palette-4: #d58e42;   
    --color-palette-5: rgb(238, 173, 102);

    /* playlist-header */
    --playlist-text-color-primary: #f0f0f0;
    --playlist-text-color-secondary: #8c9395;
    --playlist-head-text-color-primary: #f0f0f0;
    --playlist-head-text-color-secondary: #8c9395;
    --playlist-head-text-color-tertiary: #cecece;
} 
