@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caesar+Dressing&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600&display=swap');

:root {
    /* Typography and Colors */
    --font-accent: "Bodoni Moda", serif;
    --character-name-color: #F1F1EE;
    --head-font-size: 100px;

    /* Primary Text */
    --font-primary: "Times New Roman", Times, serif;
    --text-color-primary: #2C2D30;

    /* Secondary Text */
    --font-secondary: "Cutive Mono", monospace;
    --text-color-secondary: #6D7075;
    
    /* Background Colors */
    --background-main: #a1a1a1;
    --background-primary: #E3E4E1;
    --background-secondary: #D8D9D7;
    --background-tertiary: #C8CAC8;
    --color-accent: #8D9095;
    
    /* Crystal Colors */
    --color-palette-1: #FFFFFF;
    --color-palette-2: #D9DADB;
    --color-palette-3: #A5A8AA;
    --color-palette-4: #55585C;
    --color-palette-5: #1E2022;

    /* playlist-header */
    --playlist-text-color-primary: #ffffff;
    --playlist-text-color-secondary: #ffffff;
    --playlist-head-text-color-primary: #ffffff;
    --playlist-head-text-color-secondary: #ffffff;
    --playlist-head-text-color-tertiary: #ffffff;
} 
