:root {
  /* ===================================== PAGE AND BACKGROUND ===================================== */
  --page-background: url('assets/background.png');
  --background-main-pattern: url('../../../../Characters/Firstborn Sun/assets/pattern.png');
  --page-title: "Firstborn Sun - Character Profile";
  --upper-title: "Firstborn Sun";


  /* ===================================== HERO ===================================== */
  --hero-profile-background: url('assets/hero/profile-background.png');
  --hero-profile: url('assets/hero/profile.png');
  --hero-title-pattern: url('assets/hero/title-pattern.gif');

  --character-name: "Первородное Солнце";
  --hero-description: "A planetary-scale engineering megastructure created to reshape worlds, sustain the Interlayer, and preserve the infrastructure of the Architects.";



  /* ===================================== DESCRIPTION ===================================== */
  --description-character-image: url('assets/description/description-character-image.png');


  --description: "Перворождённое Солнце — мегаструктура, сформированная из нескольких планетарных тел, и высшее достижение Архитекторов, созданное на заре их технологического могущества. Она была построена для формирования и преобразования миров: соединяла планеты, разбирала их, меняла их устройство и создавала из них новые структуры. За время её работы окружающий мир изменился до неузнаваемости, и многое из того, что существует сегодня, появилось в результате этих преобразований.";

  --description-2: "Перворождённое Солнце пережило все зафиксированные эпохи и продолжает поддерживать Межслой и бесчисленные связанные с ним системы даже спустя тысячелетия после исчезновения Архитекторов. Её масштаб, красота и значение сделали её почти священной фигурой для появившихся позднее цивилизаций. Однако за этим образом нет ни желаний, ни эмоций, ни собственной воли за пределами назначенной ей функции.";


  --quote: "Она прекрасна... Она — все, к чему мы стремились тысячи лет.";

  --quote-author: "Поющий Гребень, Архитектор и главный инженер.";

  --personality: "Отсутствует.";

  --info-title: "Крупнейшее Созвездие";

  --info-role: "Superstructure, megastructure";

  --info-origin: "Расцвет Архитекторов • 66 000 оборотов до Вознесения";


  /* ===================================== GALLERY ===================================== */
  --gallery-1: url('assets/gallery/gallery-1.png');
  --gallery-2: url('assets/gallery/gallery-2.png');
  --gallery-3: url('assets/gallery/gallery-3.png');
  --gallery-4: url('assets/gallery/gallery-4.png');
  --gallery-5: url('assets/gallery/gallery-5.png');
  --gallery-6: url('assets/gallery/gallery-6.png');



  /* ===================================== PLAYLIST ASSETS ===================================== */
  --playlist-background: url('assets/playlist/playlist-background.gif');

  --playlist-track-1: url('assets/playlist/Silksong Choral Chambers.m4a');
  --playlist-track-2: url('assets/playlist/White Diamond.m4a');
  --playlist-track-3: url('assets/playlist/MECHANICAL GOD.m4a');
  --playlist-track-4: url('assets/playlist/track-4.mp3');
  --playlist-track-5: url('assets/playlist/track-5.mp3');

  --track-1-name: "Choral Chambers";
  --track-1-artist: "Hollow Knight: Silksong";
  --track-2-name: "White Diamond OST";
  --track-2-artist: "Steven Universe";
  --track-3-name: "MECHANICAL GOD";
  --track-3-artist: "AZALI from youtube";
  --track-4-name: "EMPTY";
  --track-4-artist: "EMPTY";
  --track-5-name: "EMPTY";
  --track-5-artist: "EMPTY";

}
