:root {
  /* ===================================== PAGE AND BACKGROUND ===================================== */
  --page-background: url('assets/background.png');
  --page-title: "Firstborn Sun - Character Profile";
  --upper-title: "Firstborn Sun";


  /* ===================================== HERO ===================================== */
  --hero-profile-background: url('assets/hero/profile-background.png');
  --hero-profile: url('assets/hero/profile.png');
  --hero-title-pattern: url('assets/hero/title-pattern.gif');

  --character-name: "Первородное Солнце";
  --hero-description: "A planetary-scale engineering megastructure created to reshape worlds, sustain the Interlayer, and preserve the infrastructure of the Architects.";



  /* ===================================== DESCRIPTION ===================================== */
  --description-character-image: url('assets/description/description-character-image.png');


  --description: "Перворождённоe Солнце — высшее достижение Архитекторов, созданное на заре их технологического могущества. Сформированная из нескольких планетарных тел, она возвышается как невозможный инженерный монумент и как основание, на котором была построена искусственная цивилизация.";

  --description-2: "Её создавали как существо чтобы изменять и создавать новые миры, чем она и является, соединяя планеты между собой, меняя, уничтожая, разбирая или выкраивая в новые. Она пережила все зафиксированные эпохи, продолжая питать Межслой и бесчисленные системы под ним. Но за ее масштабом, красотой и почти священным значением нет ни желания, ни эмоций, ни воли за пределами назначенной ей функции.";

  --quote: "Она прекрасна... Она — все, к чему мы стремились тысячи лет.";

  --quote-author: "Поющий Гребень, Архитектор и главный инженер.";

  --personality: "Отсутствует.";

  --info-title: "Крупнейшее Созвездие";

  --info-role: "Superstructure, megastructure";

  --info-origin: "Расцвет Архитекторов • 66 000 оборотов до Вознесения";

  /* ===================================== HISTORY ===================================== */

  --story-title-1: "Строительство";

  --story-text-1: "Строительство Перворождённого Солнца стало величайшим инженерным предприятием в истории Архитекторов. Её создавали с целью чтобы создать существо способное изменять и создавать целые планетарные системы и не только, её созданием Архитекторы стремились превзойти ограничения своих физических оболочек. Целые планетарные тела, технологии, поколения и амбиции в единую небесную структуру на протяжении тысяч оборотов. Бесчисленные промышленные сети, комплексы и автономные строительные системы были подчинены одному проекту. Масштаб работ затронул практически каждую известную систему. Завершение Перворождённого Солнца ознаменовало начало новой эпохи для Архитекторов и глубоко засело в фундаментах ульев и колоний, которые будут построены после их исчезновения.";

  --story-text-1-2: "После завершения строительства Перворождённое Солнце стало центральным обьектом всей инфраструктуры Архитекторов. Помимо её основной цели, через них проходили навигация, обмен информацией и координация и многое другое. Перворожденное Солнце продолжала медленно преобразовывать планеты, перестройка, Межслой и прочее не дали возможности дикой органике вовремя приспособиться.";
  --story-image-1: url("assets/history/story-image-1.png");
  --story-caption-1: "После исчезновения Архитекторов";




  --story-quote: "• • •";




  --story-title-2: "Покой / Dormancy";

  --story-text-2: "Исчезновение Архитекторов не изменило предназначение Перворождённого Солнца. Не получая новых команд, структура постепенно перешла в состояние длительного покоя. Однако её основная функция никогда не прерывалась. Как и остальные Созвездия, Перворождённое Солнце не взаимодействует с цивилизациями, возникшими после Архитекторов. Оно не вмешивается в войны, экспансии или внутренние конфликты, продолжая безмолвно выполнять возложенную на него задачу. За своё существование, Перворожденное Солнце изменило и построило новый мир, кардинально отличавшийся от изначального.";

  --story-text-2-2: "Когда произошло Вознесение, это так же не касалось Перворождённого Солнца. Такая страшная катастрофа не изменила ни одной из выполняемых им функций.";

  --story-image-2: url("assets/history/story-image-2.png");
  --story-caption-2: "Первородное Солнце в длительном состоянии покоя.";





  /* ===================================== GALLERY ===================================== */
  --gallery-1: url('assets/gallery/gallery-1.png');
  --gallery-2: url('assets/gallery/gallery-2.png');
  --gallery-3: url('assets/gallery/gallery-3.png');
  --gallery-4: url('assets/gallery/gallery-4.png');
  --gallery-5: url('assets/gallery/gallery-5.png');
  --gallery-6: url('assets/gallery/gallery-6.png');



  /* ===================================== PLAYLIST ASSETS ===================================== */
  --playlist-background: url('assets/playlist/playlist-background.gif');

  --playlist-track-1: url('assets/playlist/Silksong Choral Chambers.m4a');
  --playlist-track-2: url('assets/playlist/White Diamond.m4a');
  --playlist-track-3: url('assets/playlist/MECHANICAL GOD.m4a');
  --playlist-track-4: url('assets/playlist/track-4.mp3');
  --playlist-track-5: url('assets/playlist/track-5.mp3');

  --track-1-name: "Choral Chambers";
  --track-1-artist: "Hollow Knight: Silksong";
  --track-2-name: "White Diamond OST";
  --track-2-artist: "Steven Universe";
  --track-3-name: "MECHANICAL GOD";
  --track-3-artist: "AZALI from youtube";
  --track-4-name: "EMPTY";
  --track-4-artist: "EMPTY";
  --track-5-name: "EMPTY";
  --track-5-artist: "EMPTY";

}