:root {

  /* ===================================== PAGE ===================================== */

  --page-title: "Post-Ascension — Timeline";

  --upper-title: "Post-Ascension";

  --page-background: url("assets/background.png");


  /* ===================================== HERO ===================================== */

  --era-banner: url("assets/hero/timeline-banner.png");

  --era-number: "Age of crumbling pillars";

  --era-name: "Post-Ascension";

  --era-description: "Age, where nothing was left to lose, to fight for, and to live for.";


  /* ===================================== PLAYLIST ===================================== */

  --playlist-label: "Soundtrack";

  --playlist-title: "Music of the Era";

  --playlist-description: "Songs associated with this historical period.";

  --playlist-background: url("assets/playlist/playlist-background.gif");


  /* ===================================== TRACKS ===================================== */

  --playlist-track-1: url("assets/playlist/Thornfelt Swamp (feat. Tom Boyd) [KcROgIvKuY8].m4a");
  --playlist-track-2: url("assets/playlist/Hollow Knight OST - Dirtmouth.m4a");
  --playlist-track-3: url("assets/playlist/track-3.mp3");
  --playlist-track-4: url("assets/playlist/track-4.mp3");
  --playlist-track-5: url("assets/playlist/track-5.mp3");


  --track-1-name: "Thornfelt Swamp";
  --track-1-artist: "Tom Boyd";

  --track-2-name: "Dirtmouth";
  --track-2-artist: "Hollow Knight OST";

  --track-3-name: "";
  --track-3-artist: "";

  --track-4-name: "";
  --track-4-artist: "";

  --track-5-name: "";
  --track-5-artist: "";


  /* ===================================== STORY SECTIONs ===================================== */


  --section-1-title: "Survivors";

  --section-1-text-1: "Пост-Вознесение является текущей эпохой известного мира. Оно началось после распада великих империй и продолжается по сей день. Лишь немногие цивилизации пережили Вознесение, сохранив свою целостность. От прежнего мира остались разрозненные колонии, разделённые огромными территориями, захваченными Вознесёнными или оставленными разрушаться на протяжении столетий.";

  --section-1-text-2: "Уцелевшие колонии отказались от масштабного расширения, сосредоточившись на обороне и поддержании собственной независимости. Во время Вознесения пал Вечный Хор вместе со своим Гнездом, положив конец цивилизации Октав. Теперь от неё остались лишь разрушенные города, заброшенные сооружения и редкие свидетельства её существования. Контакт между отдалёнными поселениями постепенно стал настолько редким, что многие из них начали считать себя последними представителями своего рода.";



  --section-2-title: "Ruins";

  --section-2-text-1: "По всему известному миру остаются заброшенными бесчисленные города, станции и мегаструктуры. Некоторые автоматические системы продолжают работать спустя тысячелетия после исчезновения своих создателей, тогда как другие постепенно вышли из строя из-за отсутствия обслуживания. Целые регионы больше не передают никаких сигналов, а маршруты, некогда связывавшие крупнейшие цивилизации, давно перестали использоваться.";

  --section-2-text-2: "Матери пережили начало Вознесения лишь ненадолго. После смерти последней из них руководство колонией окончательно перешло к Совету, который прежде выполнял преимущественно совещательные функции. Тело Матриарха было погребено в старой столице, где её память увековечили как память о последней Матери своей цивилизации. За пределами сохранившихся территорий остались лишь разрозненные архивы, утраченные дороги и редкие экспедиции, пытающиеся выяснить, что ещё уцелело во внешнем мире.";



  --section-3-title: "Истощение";

  --section-3-text-1: "К началу Пост-Вознесения последствия Долгой войны уже привели к почти полному истощению доступных ресурсов. Многие месторождения были выработаны ещё во время Кровопролития, а производственные комплексы и добывающие сети оказались разрушены, покинуты или потеряны вместе с территориями, на которых они находились. Даже сохранившиеся государства были вынуждены отказаться от дальнейшего развития, сосредоточившись на поддержании уже существующей инфраструктуры.";

  --section-3-text-2: "Экспедиции за пределы безопасных территорий остаются редкими и крайне опасными. Большинство дальних маршрутов утрачено, а многие автоматические комплексы продолжают работать без контроля, нередко представляя не меньшую угрозу, чем сами Вознесённые. Укрепления, патрули и системы раннего предупреждения стали основой повседневного существования, поскольку большинство колоний избегает открытых столкновений при любой возможности.";



  --section-4-title: "New world";

  --section-4-text-1: "Некоторые ульи и колонии продолжают существовать, однако каждая из них пережила Вознесение по-своему. Одни исчезли полностью, другие сохранили лишь небольшую часть своих прежних территорий и структур. Среди выживших особенно тяжёлые потери понёс Улей, оказавшийся одним из наиболее пострадавших во время катастрофы. Несмотря на пережитое, он всё ещё существует, а его Матриарх продолжает оставаться у власти хоть уже они не так сильны и величественны чем когда они были в своём рассвете.";

  --section-4-text-2: "Пост-Вознесение не считается эпохой, в которую Старый мир погиб. Его конец наступил раньше. Это эпоха тех, кто остался после него: разобщённых цивилизаций, окружённых руинами, истощёнными системами и территориями Вознесённых, но всё ещё продолжающих существовать.";



  --image-1: url("assets/history/story-image-1.png");
  --image-1-caption: "Heavily snowing upon ruins.";



  --image-2: url("assets/history/story-image-2.png");
  --image-2-caption: "Ascended.";



  --image-3: url("assets/history/story-image-3.png");
  --image-3-caption: "Thirteen in snow";





  
  --quote: ' ';
  --quote2: " ";


}
